@use "../../../mixins.scss";

.container {
  &.darkMode {
    background: #2b2c37;
  }
  background-color: white;
  padding: 2rem 1rem;
  border-radius: 0.5rem;

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h2 {
      &.darkMode {
        color: white;
      }
    }
    h5 {
      color: #828fa3;

      &.darkMode {
        color: white;
      }
    }

    input {
      @include mixins.forminput();
      background-color: transparent;
      &.darkMode {
        color: white;
      }
    }
    .columns {
      .columndiv {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        margin-block-start: 0.5rem;
      }
    }

    .removecolumn {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }

    .buttonswrap {
      display: flex;
      flex-direction: column;
      min-height: 7rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      button {
        @include mixins.formbutton();
      }

      .addnewcolumn-btn {
        @include mixins.addtaskorsubtask-btn();
      }
      .savecreate-btn {
        @include mixins.savetaskorboard-btn();
      }
    }
  }
}
