<div class="container">
  <form [formGroup]="boardForm" (ngSubmit)="onSubmit()">
    <!-- Board Name -->
    <h2>{{ dataCenterService.editBoard ? "Edit Board" : "Add Board" }}</h2>
    <div>
      <h5>Name</h5>
      <input
        id="boardName"
        formControlName="name"
        placeholder="e.g. Web Design"
      />
    </div>

    <!-- Columns Section -->
    <div formArrayName="columns" class="columns">
      <h5>Columns</h5>
      <div
      class="columndiv"
        *ngFor="let column of columns.controls; let i = index"
        [formGroupName]="i"
      >
        <input formControlName="name" placeholder="Enter column name" />

        <button class="removecolumn" type="button" (click)="removeColumn(i)">
          <svg width="15" height="15" xmlns="http://www.w3.org/2000/svg">
            <g fill="#828FA3" fill-rule="evenodd">
              <path d="m12.728 0 2.122 2.122L2.122 14.85 0 12.728z" />
              <path d="M0 2.122 2.122 0 14.85 12.728l-2.122 2.122z" />
            </g>
          </svg>
        </button>
      </div> 
    </div>

    <div class="buttonswrap">
      <button class="addnewcolumn-btn" type="button" (click)="addColumn()">+Add New Column</button>

      <!-- Submit Button -->
      <button class="savecreate-btn" type="submit" [disabled]="boardForm.invalid">
        {{ dataCenterService.editBoard ? "Save Changes" : "Create New Board" }}
      </button>
    </div>
  </form>
</div>
