<div [class.darkMode]="dataService.isDarkMode" class="container">
  <form [formGroup]="taskForm">
    <div class="titlewrap">
      <p class="title" [class.darkMode]="dataService.isDarkMode">
        {{ dataService.task.title }}
      </p>
      <!-- edit task svg -->
      <svg
        (click)="dataService.toggleTaskMenu()"
        width="5"
        height="20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g fill="#828FA3" fill-rule="evenodd">
          <circle cx="2.308" cy="2.308" r="2.308" />
          <circle cx="2.308" cy="10" r="2.308" />
          <circle cx="2.308" cy="17.692" r="2.308" />
        </g>
      </svg>

      <!-- float menu --> 
      <div
        [class.darkMode]="dataService.isDarkMode"
        class="editboardmenu"
        *ngIf="dataService.editTaskMenu"
      >
        <!-- float menu -->
        <div class="floatmenu">
          <p [class.darkMode]="dataService.isDarkMode" class="editboard" (click)="editTask()">Edit Task</p>
          <p class="deleteboard" (click)="deleteTask()">
            Delete Task
          </p>
        </div>
      </div>
    </div>

    <!-- description -->
    <p class="description">{{ dataService.task.description }}</p>

    <!-- subtasks -->
    <div formArrayName="subtasks" class="subtasks">
      <p class="completedtext">
        Subtask ({{ completedSubtask }} out of {{ totalSubtask }})
      </p>
      <div
        [class.darkMode]="dataService.isDarkMode"
        class="subtaskwrap"
        *ngFor="let subtask of subtasks.controls; let i = index"
        [formGroupName]="i"
      >
        <input
          type="checkbox"
          formControlName="isCompleted"
          (change)="updateSubtask()"
        />
        <p
          [class.darkMode]="dataService.isDarkMode"
          [class.ticked]="subtask.get('isCompleted')?.value"
          class="subTask-name"
        >
          {{ subtask.get("title")?.value }}
        </p>
      </div>
    </div>

    <!-- status -->
    <div class="statuswrap">
      <p class="currentstats-text">Current Status</p>
      <select
        [class.darkMode]="dataService.isDarkMode"
        id="status"
        formControlName="status"
        [ngModel]="dataService.columName"
      >
        <!-- loads current status in the task parent active Board -->
        <option
          *ngFor="let task of dataService.boardColumns"
          [value]="task.name"
        >
          {{ task.name }}
        </option>
      </select>
    </div>
  </form>
</div>
