<div class="container" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
  <p class="columnname">{{ column.name }} ({{ column.tasks.length }})</p>

  <!-- column tasks -->
  <div class="column-tasks" *ngIf="column.tasks">
    <ng-container *ngFor="let task of column.tasks">
      <app-task
        [task]="task"
        [columName]="column.name"
        draggable="true"
        (dragstart)="onDragStart($event, task.title, column.name)"
      >
        ></app-task
      >
    </ng-container>
  </div>
</div>
