// import mixins
@use "../../../mixins.scss";

.container {
  background-color: white;
  height: 100%;
  border-radius: 0.5rem;

  // form
  form {
    padding: 2rem;
    // border: 1px solid red;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    div {
      input {
        @include mixins.forminput();
      }

      h5 {
        color: #828fa3;
      }

      textarea {
        @include mixins.forminput();
        resize: none;
        display: block;
        width: 100%;
        height: 9rem;
      }
    }
    .subtaskdiv {
      //   border: 1px solid red;
      display: flex;
      gap: 1rem;
      margin-block-end: 0.5rem;

      button {
        border: none;
        background-color: transparent;
        cursor: pointer;
      }
    }

    .addsubtask-btn {
      @include mixins.formbutton();
      @include mixins.addtaskorsubtask-btn();
    }

    .statusdiv {
      select {
        @include mixins.forminput();
        width: 100%;
        height: 3rem;
        background-color: transparent;
      }
    }

    .createtask-btn {
      @include mixins.formbutton();
      @include mixins.savetaskorboard-btn();
    }
  }
}
