<div [class.darkMode]="dataCenterService.isDarkMode" class="container">
  <form [formGroup]="taskForm">
    <h2 [class.darkMode]="dataCenterService.isDarkMode">
      {{ dataCenterService.editingTask ? "Edit Task" : "Add Task" }}
    </h2>
    <div class="titlediv">
      <h5 [class.darkMode]="dataCenterService.isDarkMode">Title</h5>
      <input
        [class.darkMode]="dataCenterService.isDarkMode"
        id="title"
        formControlName="title"
        placeholder="e.g. Take coffee break"
      />
    </div>

    <div class="descriptiondiv">
      <h5 [class.darkMode]="dataCenterService.isDarkMode">Description</h5>
      <textarea
        [class.darkMode]="dataCenterService.isDarkMode"
        id="description"
        formControlName="description"
        placeholder="e.g. It’s always good to take a break. This 15 minute break will recharege the batteries a little "
      ></textarea>
    </div>

    <!-- subtask -->
    <div formArrayName="subtasks">
      <h5 [class.darkMode]="dataCenterService.isDarkMode">Subtasks</h5>
      <div
        *ngFor="let subtask of subtasks.controls; let i = index"
        [formGroupName]="i"
        class="subtaskdiv"
      >
        <input
          [class.darkMode]="dataCenterService.isDarkMode"
          type="text"
          placeholder="Subtask Title"
          formControlName="title"
        />
        <button type="button" (click)="removeSubtask(i)">
          <!-- remove subtask svg -->
          <svg width="15" height="15" xmlns="http://www.w3.org/2000/svg">
            <g fill="#828FA3" fill-rule="evenodd">
              <path d="m12.728 0 2.122 2.122L2.122 14.85 0 12.728z" />
              <path d="M0 2.122 2.122 0 14.85 12.728l-2.122 2.122z" />
            </g>
          </svg>
        </button>
      </div>
    </div>
    <button class="addsubtask-btn" type="button" (click)="addSubtask()">
      Add Subtask
    </button>

    <!-- status -->
    <div class="statusdiv">
      <h5 [class.darkMode]="dataCenterService.isDarkMode">Status</h5>
      <select
        [class.darkMode]="dataCenterService.isDarkMode"
        id="status"
        formControlName="status"
        [ngModel]="dataCenterService.board.columns[0].name"
      >
        <!-- populate options using active Board column names -->
        <ng-container *ngFor="let column of columnNames">
          <option [value]="column.name">
            {{ column.name }}
          </option>
        </ng-container>
      </select>
    </div>

    <!-- add task -->
    <button (click)="addEditTask()" class="createtask-btn" type="submit">
      <p>
        {{ dataCenterService.editingTask ? "Save Changes" : "Create Task" }}
      </p>
    </button>
  </form>
</div>
